<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">

<head th:fragment="head">

    <!-- Bootstrap stylesheets and script -->
    <link th:href="@{/css/bootstrap.css}" rel="stylesheet" />
    <link th:href="@{/css/techjobs.css}" rel="stylesheet" />
    <script type="text/javascript" th:src="@{/js/bootstrap.js}"></script>

    <title th:text="'TechJobs' + ${title == null ? '' : ' :: ' + title}">TechJobs</title>
</head>

<body>

//Loop fragment for list-jobs.html and search.html
<div th:if="${jobs}" th:fragment="search-list-loop">
    <table class="job-listing" th:each="job : ${jobs}">
        <tr>
            <td>ID</td>
            <td th:text="${job.getId()}"></td>
        </tr>
        <tr>
            <td>Name</td>
            <td Name th:text="${job.getName()}"></td>
        </tr>
        <tr>
            <td>Employer</td>
            <td Employer th:text="${job.getEmployer()}"></td>
        </tr>
        <tr>
            <td>Location</td>
            <td Location th:text="${job.getLocation()}"></td>
        </tr>
        <tr>
            <td>Position Type</td>
            <td Position Type th:text="${job.getPositionType()}"></td>
        </tr>
        <tr>
            <td>Skill</td>
            <td Skill th:text="${job.getCoreCompetency()}"></td>
        </tr>
    </table>
</div>

    <div th:fragment="page-header" class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <a th:href="@{/}" class="navbar-brand">TechJobs</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a th:href="@{/search}">Search</a></li>
                    <li><a th:href="@{/list}">List</a></li>
                </ul>
            </div>
        </div>
    </div>

</body>
</html>