<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head">
</head>
<body>

<div th:replace="fragments :: page-header"></div>

<div class="container body-content">

    <h1 th:text="${#strings.capitalizeWords(title)}"></h1>

    <!-- TODO #1 - Use a loop to display job results in a table. -->
    <div th:if="${jobs}">
        <table class="job-listing" th:each="job : ${jobs}">
            <tr>
                <td>ID</td>
                <td th:text="${job.getId()}"></td>
            </tr>
            <tr>
                <td>Name</td>
                <td Name th:text="${job.getName()}"></td>
            </tr>
            <tr>
                <td>Employer</td>
                <td Employer th:text="${job.getEmployer()}"></td>
            </tr>
            <tr>
                <td>Location</td>
                <td Location th:text="${job.getLocation()}"></td>
            </tr>
            <tr>
                <td>Position Type</td>
                <td Position Type th:text="${job.getPositionType()}"></td>
            </tr>
            <tr>
                <td>Skill</td>
                <td Skill th:text="${job.getCoreCompetency()}"></td>
            </tr>
        </table>
    </div>


</div>

</body>
</html>